.jobs-details-container {
  width: 20%;
  margin-right: 30px;
}

.list-container-card {
  padding-bottom: 10px;
}
.list-heading {
  font-family: 'Roboto';
  font-size: 20px;
}
.list-container {
  padding: 0px;
}
.jobs-container {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #000000;
}

.jobs-list-container {
  width: 100%;
}
.search-jobs {
  width: 50%;
  height: 30px;
  border-radius: 2px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding-left: 15px;
  background-color: transparent;
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  border-right-width: 0px;
  color: #ffffff;
  font-family: 'Roboto';
  outline: none;
}

.input-search-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 50px;
  margin-bottom: 30px;
}

.search-icon-button {
  background-color: #7e858e;
  outline: none;
  cursor: pointer;
  height: 30px;
  margin-top: 20px;
  width: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-left-width: 0px;
}
