.home-page-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  background-size: cover;
}
.home-page-details-container {
  padding-left: 50px;
  padding-top: 50px;
  width: 50%;
}
.main-heading {
  font-family: 'Roboto';
  font-size: 50px;
  color: #f8fafc;
}
.paragraph {
  font-family: 'Roboto';
  font-size: 12px;
  color: #f8fafc;
  margin-bottom: 15px;
}
.button-jobs {
  background-color: #4f46e5;
  border-width: 0px;
  border-radius: 8px;
  font-family: 'Roboto';
  font-size: 16px;
  height: 36px;
  width: 120px;
  color: #f8fafc;
  cursor: pointer;
}
.jobs-link {
  color: #f8fafc;
  text-decoration: none;
}
