.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 25px;
}
.profile-image {
  height: 30px;
}
.profile-name {
  font-family: 'Roboto';
  font-size: 20px;
  padding-top: 0px;
  color: #6366f1;
}
.profile-bio {
  font-family: 'Roboto';
  font-size: 10px;
  padding-top: 0px;
  color: #2c364c;
}
