.login-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.login-container {
  background-color: #272727;
  width: 300px;
  border-radius: 10px;
  padding: 50px;
}
.image-logo {
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.image-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input-label {
  font-family: 'Roboto';
  font-size: 10px;
  color: #f8fafc;
}
.username-input-field {
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #64748b;
  height: 25px;
  width: 100%;
  padding-left: 10px;
  font-family: 'Roboto';
  font-size: 8px;
  background-color: #272727;
  color: #f8fafc;
}
.password-input-field {
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #64748b;
  height: 25px;
  width: 100%;
  padding-left: 10px;
  font-family: 'Roboto';
  font-size: 8px;
  background-color: #272727;
  color: #f8fafc;
}
.login-button {
  width: 100%;
  font-family: 'Roboto';
  background-color: #4f46e5;
  color: #ffffff;
  border-width: 0px;
  height: 25px;
  border-radius: 4px;
  font-weight: bold;
}
.error-message {
  font-size: 10px;
  font-family: 'Roboto';
  color: #ff0b37;
}
